@model Thuiszorg.Models.Request

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Request</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dateAndTimeAdded)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dateAndTimeAdded)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dateAndTimeRequest)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dateAndTimeRequest)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.user)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.user)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.completed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.completed)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
