@model IEnumerable<Thuiszorg.Models.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Taak toevoegen", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.Label("Naam")
        </th>
        <th>
            
        </th>
        <th>
             @Html.Label("Taak")
        </th>
        <th>
            
        </th>
        <th>       
             @Html.Label("Beschrijving")
        </th>
        <th>
             
        </th>
        <th>
            @Html.Label("Hulp nodig om")
        </th>
        <th>
           
        </th>
        <th>
             @Html.Label("Toegevoegd om")
        </th>
        <th>
             
        </th>
        <th>
            @Html.Label("Status")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user)
        </td>
        <td>
          
        </td>
        <td>
              @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
           
        </td>
        <td>
                 @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
          
        </td>
        <td>
              @Html.DisplayFor(modelItem => item.dateAndTimeRequest)
        </td>
        <td>
            
        </td>
        <td>
             @Html.DisplayFor(modelItem => item.dateAndTimeAdded)
      
        </td>
        <td>
           
        </td>
        <td>
             @Html.DisplayFor(modelItem => item.completed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
